.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(68, 122, 124);
  color: white;
  padding: 50px 30px;
  border-radius: 20px;
 
}

.logo {
  font-size: 50px;
  font-weight: bold;
  font-family: cursive;
  margin-left: 40%;
  color: aliceblue;
  text-decoration: none;
}

.icons span {
  margin-left: 20px;
  cursor: pointer;
  font-size: 30px;
}

.icons span:hover {
  color: #f0c14b;
}
