.product-card{ 
    display:flex; 
    flex-direction:column;
     gap:8px; 
     padding:12px;
    /* border:1px solid #beb9b9;  */
    border-radius:8px;
    background-color: rgb(225, 232, 232);
     text-decoration:none; 
     color:inherit;
    }
    .product-card:hover{
        background-color:aliceblue;
    }
.pc-image{height:130px;display:flex;align-items:center;justify-content:center;}
.pc-image img{max-height:110px;object-fit:contain;}
.pc-title{
font-size:.95rem;
height:40px;
overflow:hidden;
font-family: 'Times New Roman', Times, serif;
}

.pc-price{font-weight:700;color:#1a7f37;}