/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.product-grid { display:grid; grid-template-columns:repeat(auto-fill,minmax(220px,1fr)); gap:16px; margin-top:12px; }

.container{max-width:1100px;margin:0 auto;padding:16px;}
.controls{display:flex;gap:12px;margin:18px 0;align-items:center;}
.search-input{flex:1;padding:10px;border:1px solid #ddd;border-radius:8px;}
.select-input{
  padding:10px;
  color: white;
  border:1px solid #ddd;
  border-radius:8px;
  background-color: rgb(32, 32, 82);
  font-family:'Times New Roman', Times, serif
}
.category-title{
  text-transform:capitalize;
  margin:12px 0;
  font-size: 30px;
  color:rgb(105, 25, 25);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 25px 20px;
  background-color: rgb(242, 242, 182);
  text-shadow: 1px 2px 1px rgb(51, 13, 13);
}
.category-block{margin-bottom:24px;}